.board-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.board {
    position: relative;
    height: 40.2vw;
    width: 40.2vw;
}

.small-board {
    height: 12.9vw;
    width: 12.9vw;
    float: left;
    border: 0.25vw black solid;
}

.red-border {
    border: 0.25vw #F5185F solid;
}

.blue-border {
    border: 0.25vw #00C0F4 solid;
}

.field {
    height: 4vw;
    width: 4vw;
    border: 0.15vw black solid;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
    float: left;
}

.field-x {
    color: #F5185F;
}

.field-o {
    color: #00C0F4;
}

.big-field {
    font-size: 9vw;
    text-align: center;
    line-height: 12.9vw;
}